/* ---------- PAGE HERO ---------- */

.page-hero{

    margin-top:90px;

    text-align:center;

    padding:80px 10%;

    background:#dff5df;

}

.page-hero h1{

    font-size:48px;

    color:#1b5e20;

}

.page-hero p{

    margin-top:20px;

    color:#555;

    font-size:18px;

}

/* SEARCH */

.article-search{

    text-align:center;

    padding:40px;

}

.article-search input{

    width:70%;

    max-width:600px;

    padding:15px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

}

/* CATEGORIES */

.categories{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

    padding:40px 8%;

}

.category-card{

    background:white;

    text-align:center;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

    font-size:22px;

}

.category-card:hover{

    transform:translateY(-10px);

}

/* ARTICLES */

.articles{

    padding:60px 8%;

}

.article-card{

    display:flex;

    gap:30px;

    margin-bottom:40px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.article-card img{

    width:320px;

    object-fit:cover;

}

.article-content{

    padding:30px;

}

.article-content h2{

    color:#2e7d32;

    margin-bottom:15px;

}

.article-content p{

    margin-bottom:25px;

    line-height:1.7;

}

/* ARTICLE PAGE */

.article-page{

max-width:1100px;

margin:60px auto;

padding:40px;

background:white;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.article-page img{

width:100%;

border-radius:15px;

margin-bottom:30px;

}

.article-page h2{

margin-top:30px;

color:#2e7d32;

}

.article-page p{

line-height:1.8;

margin:20px 0;

}

.article-page ul{

margin:20px;

line-height:2;

}


.hero{

    position:relative;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    overflow:hidden;

    background:url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;

    background-position:center;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}

.hero-content{

    position:relative;

    z-index:2;

    color:white;

    max-width:800px;

    padding:20px;

}

.hero-content h1{

    font-size:70px;

    margin-bottom:20px;

    line-height:1.2;

}

.hero-content p{

    font-size:22px;

    margin-bottom:35px;

}

.btn-secondary{

    background:white;

    color:#2e7d32;

}